/* CZCIONKI 
font-family: 'Ubuntu', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif; */

/* GŁÓWNE STYLE */
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/* TYPOGRAFIA */
h1, h2, h3, ul, li, p{
	font-family: 'Open Sans', sans-serif;
	padding-top: 2px;
}

hr{
  width: 150px;
  height: 4px;
  background-color: #fded02;
}

h2{
	padding-top: 2rem;
	color: #666666;
	text-align: center;
}

/* MENU */
#menu{
	background-color: #666666;
	padding-top: 2rem;
	padding-bottom: 1rem;
}
.navbar{
	background-color: #666666;
	color: #ffffff;
	border-color: #666666;
}
.navbar-inverse .navbar-nav > li > a{
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 200;
	margin-left: 2px;
	border: 1px solid transparent;
	line-height: 1rem;
}

.navbar-inverse .navbar-nav > li > a:hover{
	display: block;
	color: #ffffff;
	border: 2px solid transparent;
	border-color: #fded02;
	line-height: 1rem;
	border-radius: 2px;
	transition: all 0.7s ease;
}
.navbar-inverse .navbar-nav > .active > a{
	display: block;
	border-color: #fded02;
	background-color: #666666;
	border-radius: 4px;
}

#logo img{
	padding-top: 2px;
}
/* BANNER */
#banner{
	margin-top: 7.3rem;
}

/* O NAS */

#O_NAS p{
	font-size: 25px;
	padding-top: 2rem;
}
#wojewodztwo p{
	text-align: center;
	padding-top: 3rem;
} 


 /* NASZA OFERTA */

#oferta img{
 	padding-left: 10rem;
 }

#lik p{
	font-size: 18px;
	font-weight: 700;
}

#lik1 h2{
	padding-top: 4.3rem;
}
#lik a{
	margin-left: 15rem;
	color: #ffffff;
	background-color: #666666;
}

/* ŁÓŻKA */

#lozka ul{
	margin-top: 2rem;
	font-size: 20px;
}
#lozka p{
	font-size: 20px;
	padding-top: 1rem;
}

/* KONCENTRATORY */
#koncentratory p{
	font-size: 20px;
	padding-top: 1rem;
}

/* TRANSPORT */
#transport p{
	font-size: 20px;
	padding-top: 1rem;
	margin-top: 12rem;
}

/* STOPKA */
#stopka{
	background-color: #666666;
}
#stopka p{
	color: #ffffff;
	font-size: 14px;
	
}
#stopka a{
	color: #ffffff;
}
